
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499676445896'); /* IE9*/
  src: url('iconfont.eot?t=1499676445896#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499676445896') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499676445896') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499676445896#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before { content: "\e605"; }

.icon-left:before { content: "\e612"; }

.icon-right:before { content: "\e613"; }

.icon-ecg:before { content: "\e610"; }

.icon-top:before { content: "\e614"; }

.icon-xiangmu:before { content: "\e62e"; }

.icon-menu1:before { content: "\e61d"; }

.icon-bottom:before { content: "\e62f"; }

.icon-delete2:before { content: "\e654"; }

.icon-shezhi:before { content: "\e62d"; }

.icon-copy:before { content: "\e6cb"; }

.icon-section:before { content: "\e707"; }

.icon-time:before { content: "\e600"; }

.icon-shuaxin:before { content: "\e607"; }

.icon-tongzhi:before { content: "\e615"; }

.icon-delect:before { content: "\e60a"; }

.icon-iconfontyiliaoicon:before { content: "\e61e"; }

.icon-tianjia:before { content: "\e61f"; }

.icon-bianji:before { content: "\e62c"; }

.icon-haoyou:before { content: "\e694"; }

.icon-fenzu:before { content: "\e6c0"; }

.icon-wendang:before { content: "\e628"; }

.icon-menu:before { content: "\e603"; }

.icon-xiangmu1:before { content: "\e621"; }

.icon-beizhu:before { content: "\e61b"; }

.icon-xindenew85:before { content: "\e616"; }

.icon-calendar:before { content: "\e604"; }

.icon-yinpin:before { content: "\e637"; }

.icon-shuoming:before { content: "\e848"; }

.icon-tongzhi1:before { content: "\e609"; }

.icon-fanhui:before { content: "\e617"; }

.icon-caidan-copy:before { content: "\e608"; }

.icon-add:before { content: "\e68b"; }

.icon-loading:before { content: "\e611"; }

.icon-tingzhenqi:before { content: "\e627"; }

.icon-search:before { content: "\e606"; }

.icon-DDoSfanghufuwu:before { content: "\e666"; }

.icon-link:before { content: "\e630"; }

.icon-fenxiang:before { content: "\e6bb"; }

.icon-xindiantu:before { content: "\e636"; }

.icon-tiaozhuan:before { content: "\e618"; }

